{% extends 'staff/staff_base_layout/layout.html' %}

{% block content %}
    <div class="container">
        <h2 class = "page-header">Add staff</h2>
        <div class = "container">
            <form action="" method="POST">
                {% csrf_token%}
                {% if error_message %}
                    <div class = "alert alert-danger">
                        {{ error_message }}
                    </div>
                {% endif %}
                {% for staff in staff %}
                <h2> hi {{staff}}</h2>
                    {% endfor %}
                {% for fields in form %}
                    {% if fields.name == 'user_type' %}
                        <div class="form-group row" style = "margin-bottom:10px">
                            <label for="{{ fields.name }}" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-8">
                                <input value = "2" type="hidden" {% if fields.is_bound %} value = "{{fields.name.value}}" {% endif %} name = "{{ fields.name }}" class="form-control" id="{{ fields.name }}" >
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group row" style = "margin-bottom:10px">
                            <label for="{{ fields.name }}" class="col-sm-3 col-form-label">{{ fields.label}} </label>
                            <div class="col-sm-8">
                                <input type="{{ fields.field.widget.input_type }}" {% if fields.is_bound %} value = "{{fields.name.value}}" {% endif %} name = "{{ fields.name }}" class="form-control" id="{{ fields.name }}" >
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group row" style = "margin-top:10px;">
                    <label for="" class="col-sm-3 col-form-label text-end"></label>
                    <div class="col-sm-8">
                        <input type="submit" class="btn bg-success form-control" value = "Add Staff">
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}