{% extends 'staff/staff_base_layout/layout.html' %}
{% block content %}
    <div class="container">
        <h2 class = "page-header">Doctors Blogs</h2>
        <div class="row">
          {% for blog in blogs_list %}
          <div class="col-12 col-md-6 col-lg-6">
              <article class="article article-style-c">
                <div class="article-header">
                  <img src="/media/{{blog.illness_image}}" style = "border-radius: 10px;" class="img img-fluid" alt="">
                </div>
                <div class="article-details">
                  <div class="article-category"><div class="bullet"></div>{{blog.created_at}}</div>
                  <div class="article-title">
                    <h2>{{blog.illness_name}}</h2>
                  </div>
                  <div class="article-description">
                      <h6 class = "text-info">Description</h6>
                    </div>
                  <p>{{blog.illness_description}}</p>
                  <div class="article-prevention">
                      <h6 class = "text-info">Prevention</h6>
                    </div>
                  <p>{{blog.illness_prevention}}</p>
                  <div class="article-user">
                    <img alt="image" style = "height: 50px; height: 50px; border-radius: 50%;" class = "img img-fluid" src="/media/{{blog.illness_uploader.admin.profile_pic}}">
                    <div class="article-user-details">
                      <div class="user-detail-name">
                        <a href="">{{blog.illness_uploader}}</a>
                      </div>
                      <div class="text-job"><a href=""><i class="fas fa-edit"></i>Edit</a></div>
                    </div>
                  </div>
                </div>
              </article>
            </div>
          {% endfor %}
        </div>
        <div class="row">
          <div class="card-body">
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                {% if page_obj.has_previous%}
                  <li class="page-item"><a class="page-link" href="{% url 'staff:blog_list_view' %}?page={{page_obj.previous_page_number}}">Previous</a></li>
                {% else %}
                  <li class="page-item disabled" ><a class="page-link" href="">Previous</a></li>
                {% endif %}
                  <li class="page-item disabled"><a class="page-link" href="">Page {{page_obj.number}} of {{page_obj.paginator.num_pages}}</a></li>
                {% if page_obj.has_next %}
                  <li class="page-item"><a class="page-link" href="{% url 'staff:blog_list_view' %}?page={{page_obj.next_page_number}}">Next</a></li>
                {% else %}
                  <li class="page-item disabled"><a class="page-link" href="">Next</a></li>
                {% endif %}
              </ul>
            </nav>
          </div>
        </div>
    </div>
    
    <div style = "margin-bottom:80px">

    </div>
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
    <script>

    </script>
{% endblock %}