 {% extends  '.\base_layout/layout.html' %}
 {% block content %}
 <br>
 <br>
 <div class="container">
          <div class="container col-lg-4">
            <form class = "bg-light" method="POST" style = "border-radius:10px; padding: 20px">
              {% csrf_token %}
                <h1 class = "text-center" style = "margin-bottom:20px">Login</h1>
                {% if error_message %}
                    <div class = "alert alert-danger">
                       {{ error_message }}
                    </div>
                {% endif %}

                {% for fields in form %}
                  <div class="form-group row" style = "margin-bottom:10px">
                    <label for="Email" class="col-sm-3 col-form-label">{{ fields.label}} </label>
                    <div class="col-sm-8">
                      <input type="text" name = "{{ fields.name }}" class="form-control" id="username" >
                    </div>
                  </div>
                {% endfor %}
               
                
                <div class="form-group row" style = "margin-top:10px;">
                  <label for="inputPassword" class="col-sm-3 col-form-label text-end"></label>
                  <div class="col-sm-8">
                    <input type="submit" class="btn bg-success form-control" value = "Login">
                    <a class = "forgot-password" href="">Forgot Password?</a>
                    <a class = "create-account" href="/signup/">Sign Up</a>
                  </div>
                </div>
            </form>
          </div>
      </div>
      <div style = "height:250px">

      </div>
{% endblock %}