{% extends "base_layout/new_layout.html" %}
{% load static %}
{% block title %}
    Create an Account
{% endblock %}


{% block content %}


<div class="container-fluid" style="background-color: 	#FAF0E6"><br>
    <br> <br>
    <br>
    <br>
    <div class="container col-lg-6">
        <form method="POST" enctype="multipart/form-data" class="form-group bg-light" style = "border-radius:10px; padding: 20px">
            {% csrf_token %}
            <h1 class = "text-center" style = "margin-bottom:20px">Signup</h1>
                {% if error_message %}
                    <div class = "alert alert-danger">
                        {{ error_message }}
                    </div>
                {% endif %}
            <div class="container">
                {% for fields in form %}
                    {% if fields.name == "user_type" %}
                        <div class="form-group row" style = "margin-bottom:10px">
                            <div class="col-sm-8">
                                <input type="hidden" value = "3" name = "{{ fields.name }}" class="form-control" id="{{ fields.name }}" >
                            </div>
                        </div>
                    {% else %}
                        <div class="form-group row" style = "margin-bottom:10px">
                            <label for="{{ fields.name }}" class="col-sm-3 col-form-label">{{ fields.label}} </label>
                            <div class="col-sm-8">
                                <input type="{{ fields.field.widget.input_type }}" {% if fields.is_bound %} value = "{{fields.name.value}}" {% endif %} name = "{{ fields.name }}" class="form-control" id="{{ fields.name }}" >
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <div class="form-group row" style = "margin-top:10px;">
                    <label for="" class="col-sm-3 col-form-label text-end"></label>
                    <div class="col-sm-8">
                        <input type="submit" class="btn bg-success form-control" value = "Signup">
                        <a class = "create-account" href="{% url 'customers:login_view' %}">Login here</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="container" style = "height:130px">

    </div>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://code.jquery.com/jquery-2.2.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
<script src="{% static 'js/jquery.js' %}"></script>
{% endblock %}