{% extends '.\base_layout/layout.html' %}
{% load static %}
{% block content %}

<div class="container-fluid home-background" style = "background-image: url('{% static 'Images/home-background.jpg' %}');">
  <div class="row">
    <div class="container col-md-6 offset-md-1 text-center"><br><br><br><br><br><br><br><br>
        <h1 class = "fw-bolder" style = "color:#5f6f3a">BeastFriend Veterinary Clinic</h1>
        <h4 class = "fw-bold" style = "color:#b4a7af">Mastering The Art Of Pet Care</h4><br>
        <a href="/appointments"><button class = "btn btn-success" style = "padding:10px">Request An Appointment Now!!!</button></a>
   </div>
  </div>
</div>



<script src="{% static 'js/home.js' %}"></script>
{% endblock %}